<ul class="flex border-b mt-2 ml-2 flex-wrap">
  <li class="-mb-px mr-1">
    <%= link_to "All", url_for, class: params[:box_category].blank? ? selected_tab_class : tab_class %>
  </li>
  <% @box_category_names.each do |box_category_name| %>
    <li class="mr-1">
      <%= link_to box_category_name.humanize, url_for(box_category: box_category_name), class: params[:box_category] == box_category_name ? selected_tab_class : tab_class %>
    </li>
  <% end %>
  <li class="mr-1 flex flex-col justify-center">
    <a href="#"><i class="fas fa-plus text-1xl"></i></a>
  </li>
</ul>
<section class="flex justify-center align-middle flex-wrap">
  <%= render BoxComponent.new(box: @new_box) %>
  <% @boxes.each do |box| %>
    <%= render BoxComponent.new(box: box) %>
  <% end %>
</section>
