<div class="px-8 py-2 container mx-auto max-w-md sm:max-w-xl">
  <h1 class="mt-6 text-2xl font-bold text-teal-900">LAB, the tool for all your <br><span class="text-teal-400">daily needs!</span></h1>
  <p class="mt-2 text-gray-600">Tired of using all sorts of different apps for you daily needs? Wouldn't that be nice if all was centralized in a single application? If so, then LAB is for you!</p>
</div>
