<div class="px-8 py-2 container mx-auto max-w-md sm:max-w-xl">
  <h1 class="mt-6 text-2xl font-bold text-teal-900"><%= t '.header1' %> <br><span class="text-teal-400"><%= t '.header2' %></span></h1>
  <p class="mt-2 text-gray-600"><%= t '.headerbody' %></p>
</div>
